{% extends 'base.html' %}

{% block main %}
<div class="container-fluid">
  <div class="row">
    <div class="col s12">
      <h1>About</h1>
      <p>
        This project allows to get the ids for an entire thread in twitter. It works
        by giving an **id** of a tweet of the thread and it take cares of looking for
        The previous tweets and get following ones.</p>
      <p>
        The best performance is archived using as *root* (starting point) the last tweet,
        Since it just follows the chain. Using the first one as a root has the worst performance
        as it has to look for more tweets in a twitter search.</p>
      <p>The code for this project is available at <a href="https://github.com/yabirgb/hilos">GitHub</a>.</p>
    </div>
  </div>
</div>

{% endblock %}
