<!DOCTYPE html>
<html>

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <script src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
  <title>Manuel</title>
</head>

<body>

  <nav class="blue lighten-2">
    <ul class="left hide-on-med-and-down">
      <li><a href="https://yabirgb.com">Home</a></li>
      <li><a href="/about">About</a></li>
    </ul>
  </nav>
  {% block main %}
  {% endblock %}
  </script>
</body>

</html>
